/* ParkingApp.css */
.center-text {
    text-align: center;
  }
  
  .parking-app-container {
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .parking-slots-box {
    display: flex;
    flex-wrap: wrap;
  }
  
  .parking-slot {
    flex: 0 0 48%; /* Adjust as needed */
    margin: 8px;
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
    background-color: #f0f0f0; /* Default background color */
  }
  
  .parking-slot.occupied {
    background-color: #f3a5a4; /* Occupied background color */
  }
  
  .parking-slot.vacant {
    background-color: #c3e582; /* Vacant background color */
  }
  
  .center-button {
    text-align: center;
  }